* {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
  font-size:9vmax;
  background:darkslateblue
  }
  
  #univHako{position:relative;
  height:auto;
  }
  p {text-align:right; height:20vh;
  line-height:20vh; margin: 0 auto;
    }
  
  #boutonsHako{
   display:flex;
   position:center;
   position:fixed;
   justify-content:space-around;
   align-items:stretch;
   flex-basis:100%; flex-wrap:wrap;
   width:100vw; height: 60%;
   background: cyan;
              }
  #boutonsHako>button{flex-basis:28%;
  height:20vh;
  padding:2;
  margin:auto;
 background:teal;
  font-size:52%;
 /* text-wrap:jsais pas css lol;*/
  }
