* {box-sizing: border-box}
/* body {font-family: "Lato", sans-serif;} */
html, body {
  height: 100%;
  margin: 0;
  /* position: fixed; */
}
body {
    background-color: #002b36;;
    color: #586e75;
    font-family: roboto, sans-serif;
    }
    a:link {
      text-decoration: underline;
      color: #2aa198;
      /* font-size: 20px; */
    }
    a:hover {
      text-decoration: underline;
      color: #586e75;
      /* font-size: 20px; */
    }
    a:visited {
      color: #2aa198;
    }
    a:visited:hover {
      text-decoration: underline;
      color: #586e75;
      /* font-size: 20px; */
    }
    
    .kanHakoNaka {
      padding: 0.4em;
      margin: 0.1em;
    }
      
    .kanHakoNaka:hover {
      color: #08414f;
      background-color: #657b83;
      font-size: 20px;
      font-weight: 200;
      cursor: pointer;
    }
    
    a:active {
      text-decoration: underline;
      color: #32c1b6;
    }
    #barreInf {
        bottom: 0%;
        position: fixed;
        background-color: #073642;
        width: 100%;
        left: 0px;
        padding: 5px;
        border: 1px solid #73AD21;
    }
    #barreInf>button {
        position: fixed;
        right:  5px;
        bottom: 5px;
    }
    #ménuRoulante {
        position: fixed;
        right: 5px;
        top:   5px;
        background-color: #32c1b6;
        color: #002b36;
    }
    #insBoî {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #ins {
        background-color: #073642;
        color: #2aa198;
        border: 3px solid seagreen;
    }
    #boutonFermer{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: right;
        background-color: #73AD21;
        justify-content: space-between;
        color: black;
    }
    #header{
      position: sticky;
      top: 0;
      background-color: #073642;
      z-index: 9998;
    }
    #kanjiHako {
      border-top: 3px solid #73AD21;
      position: absolute;
      margin: 0;
      font-size: 20px;
      font-weight: 100;
      color: #32c1b6;
      height: 100%;
      width: 100%;
    }
    #détailsHako {
      border-top: 3px solid #73AD21;
      position: fixed;
      background-color: #002b36;
      left: 70%;
      width: 30%;
      overflow-y: scroll;
    }
    #boîCach{
      position: fixed;
      display: none;
      background-color: #073642;
      color: #2aa198;
      /* border: 3px solid seagreen; */
      border: 3px solid #73AD21;
      height: 95vh;
      width: 100%;
      overflow-y: scroll;
      top: 0;
      z-index: 9999;
    }
    #boîCach input{
        display: block;
        /* float: right; */
    }
    #vocab{
      height: 94%;
      /* width: 100%; */
      overflow-y: scroll;
      overflow-x: hidden;
    }
    #optionsBouton{
      position: fixed;
      right: 0%;
      bottom: 2%;
      display: inline;
    }
    #optionsFenêtre{
      background-color: #073642;
      color: #2aa198;
      border: 3px solid seagreen;
      /*display: none;
      position: fixed;
      right: 50%;
      bottom: 50%; */
    }
    .okurigana{
      color: seagreen;
      font-style: italic;
      border-bottom: 1px seagreen solid;
    }
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9999;
      justify-content: center;
      align-items: center;
    }
    svg {
      display: block;
      border: 1px black solid;
    }
    svg path {
      stroke-dasharray: 320;
      stroke-dashoffset: 0;
      /* display: none; */
      stroke: #93a1a1;
      /* animation: dash 1s linear; */
    }
    @keyframes dash {
      from {
        stroke-dashoffset: 320;
      }
      to {
        stroke-dashoffset: 0;
      }
    }