* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}
.tab {
  position: fixed;
  float: left;
  border: 1px solid #073642;
  background-color: #002b36;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
}
.tab button {
  display: block;
  background-color: inherit;
  color: #657b83;
  padding: 2px 16px;
  width: 100%;
  border: 1px solid #073642;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: #2aa198;
  color: #073642;;
}
.tab button.active {
  background-color: #32c1b6;
}
.tab button.pasdispo:hover {
  background-color: #657b83;
  color: #073642;
}
.tabcontent {
  position: absolute;
  float: left;
  left: 30%;
  padding: 0px 12px;
  /* border: 1px solid #073642; */
  width: 70%;
  border-left: none;
  height: 100%;
}
#navbar{
  position: static;
}
