:root {
    --sol-base00: #657b83;
    --sol-base01: #586e75;
    --sol-base02: #073642;
    --sol-base02-hi: #08414f;
    --sol-base03: #002b36;
    --sol-base0: #839496;
    --sol-base1: #93a1a1;
    --sol-base1-hi: #b0c1c1;
    --sol-base2: #eee8d5;
    --sol-base3: #fdf6e3;
    --sol-blue: #268bd2;
    --sol-cyan: #2aa198;
    --sol-cyan-hi: #32c1b6;
    --sol-green: #859900;
    --sol-magenta: #d33682;
    --sol-orange: #cb4b16;
    --sol-red: #dc322f;
    --sol-violet: #6c71c4;
    --sol-yellow: #b58900
}

@font-face {
    font-family: roboto;
    src: url(/ttf/Roboto-Regular.ttf)
}

@font-face {
    font-family: roboto-mono;
    src: url(/ttf/RobotoMono-Regular.ttf)
}

@font-face {
    font-family: roboto-slab;
    src: url(/ttf/RobotoSlab-Regular.ttf)
}

@font-face {
    font-family: material-icons;
    src: url(/ttf/MaterialIcons-Regular.ttf)
}

body {
    position: relative;
    background-color: var(--sol-base03);
    color: var(--sol-base1);
    font-family: roboto, sans-serif;
    margin: 0;
}

p,
li {
    line-height: 150%
}

img,
iframe {
    max-width: 100%
}

a {
    color: var(--sol-cyan)
}

a:hover {
    color: var(--sol-cyan-hi)
}

section {
    margin: 6rem auto 1rem;
    max-width: 64rem;
    padding: 0 1.5rem
}

section a {
    color: var(--sol-cyan)
}

section a:hover {
    color: var(--sol-cyan-hi)
}

section img {
    border-radius: .25rem;
    margin: .25rem 0
}

section img[src$=".svg"] {
    background-color: var(--sol-base1)
}

section a img {
    border: 1px var(--sol-cyan)solid
}

section a img:hover {
    border: 1px var(--sol-cyan-hi)solid
}

section li {
    margin: .1rem 0
}

section blockquote {
    border-left: 2px var(--sol-base02)solid;
    font-style: italic;
    margin: 0;
    padding-left: 1rem
}

section blockquote p {
    padding: .1rem 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: roboto-slab, serif;
    font-weight: 400;
    color: var(--sol-base2);
    margin: 0
}

h1 {
    font-size: 2rem
}

h2 {
    font-size: 1.5rem
}

h3 {
    font-size: 1.25rem
}

h4 {
    font-size: 1.15rem
}

h5,
h6 {
    font-size: 1rem
}

table {
    margin: 1rem 0;
    width: 100%;
}

table,
th,
td {
    /* border-collapse: collapse; */
    padding: 0;
}

th {
    padding: .5rem;
    margin: 0;
    text-align: center;
}
td {
    padding: .5rem;
    margin: 0;
    text-align: left
}

th {
    background-color: var(--sol-base02)
}

td {
    border-bottom: 1px var(--sol-base02)solid;
    border-right: 1px var(--sol-base02)solid;
    z-index: 0;
}
.table-container{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}
.table-container.sticky-left th:first-child,
.table-container.sticky-left td:first-child{
  position: sticky;
  left: 0px;
  z-index: 9999;
  margin: 0px;
}
.table-container.sticky-left th:first-child{
    border-right: 1px var(--sol-base03)solid;
}
.table-container.sticky-left td:first-child{
    background-color: var(--sol-base03);
    border-right: 1px var(--sol-base02)solid;
}

pre,
code,
kbd {
    font-family: roboto-mono, monospace
}

:not(pre)>code {
    color: var(--sol-green)
}

pre {
    background-color: var(--sol-base02) !important;
    border-radius: .25rem;
    overflow: auto;
    padding: .5rem
}

kbd {
    border-radius: .25rem;
    border: 1px var(--sol-base1)solid;
    font-size: .75rem;
    padding: 0 .25rem
}

* {
    scrollbar-color: var(--sol-base1)var(--sol-base01);
    scrollbar-width: thin
}

*::-webkit-scrollbar {
    height: .5rem;
    width: .5rem
}

*::-webkit-scrollbar-track {
    background: var(--sol-base01)
}

*::-webkit-scrollbar-thumb {
    background-color: var(--sol-base1)
}

.tag-list {
    margin: .25rem 0
}

.tag {
    background-color: var(--sol-base02);
    border-radius: .25rem;
    color: var(--sol-base1);
    line-height: 1.5rem;
    padding: 0 .5rem;
    text-decoration: none;
    white-space: nowrap
}

.tag:hover {
    background-color: var(--sol-base02-hi);
    color: var(--sol-base1-hi)
}

#navbar {
    align-items: center;
    background-color: var(--sol-base02);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    display: flex;
    flex-wrap: wrap;
    left: 0;
    padding: 1rem;
    /* position: fixed; */
    right: 0;
    top: 0;
    z-index: 9998
}

header{
    position: sticky;
    top: 0;
    z-index: 9998
} 

#navbax {
    align-items: center;
    background-color: var(--sol-base02);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    display: flex;
    flex-wrap: wrap;
    left: 0;
    padding: 1rem;
    right: 0;
    top: 0;
    z-index: 9998
}

#navbar-brand {
    flex-grow: 1
}

#navbar-brand img {
    height: 3rem
}

#navbar-links a {
    display: inline-block;
    margin-left: .5rem
}

#navbar-links a {
    color: var(--sol-base1);
    text-decoration: none
}

#navbar-links a.active {
    color: var(--sol-base2)
}

#navbar-links a:not(.active):hover {
    color: var(--sol-base1-hi)
}

#navbar-plate {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: var(--sol-base1);
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
    user-select: none
}

#navbar-plate:hover {
    color: var(--sol-base1-hi)
}

#navbar-burger {
    display: none
}

#navbar-burger:checked~#navbar-plate {
    color: var(--sol-base2)
}

@media screen and (max-width:768px) {
    #navbar-links {
        display: none;
        text-align: center;
        width: 100%
    }

    #navbar-links a {
        display: block;
        margin-left: 0;
        padding: 1rem
    }

    #navbar-plate {
        display: block
    }

    #navbar-burger:checked~#navbar-links {
        display: block
    }
}

.story-date {
    display: none
}

@media screen and (min-width:769px) {
    .story-list {
        display: grid;
        grid-row-gap: 1rem;
        grid-template-columns: auto 1fr
    }

    .story-date {
        align-self: center;
        display: block;
        justify-self: end;
        padding: .5rem 1rem .5rem 0;
        white-space: nowrap
    }

    .story-summary {
        border-left: 2px var(--sol-base02)solid;
        padding: .5rem 0 .5rem 1rem
    }

    .story-summary p {
        margin-bottom: 0
    }
}

#lightbox {
    background: rgba(0, 0, 0, .8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999
}

#lightbox img {
    background-color: #000;
    border-radius: .25rem;
    border: 1px var(--sol-base01)solid;
    left: 50%;
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.directory {
    width: 100%
}

.directory-child {
    width: 95%
}

.directory-group {
    align-items: center;
    display: flex
}

.github-corner {
    border: 0;
    color: var(--sol-base1);
    fill: var(--sol-base02);
    position: absolute;
    right: 0;
    margin-top: -1rem
}

.github-corner:hover {
    color: var(--sol-base1-hi)
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

.hidden {
    display: none
}

.icon {
    font-family: material-icons
}

.title {
    text-transform: capitalize
}
